template( name="filename_template" type="string" string="/var/log/%programname%.log" )

if $programname == ['marathon', 'zookeeper', 'mesos-master', 'mesos-slave'] then {
  action(type="omfile" DynaFile="filename_template")
}