# Resources for defining instances in the cluster
resource "aws_instance" "service" {
  availability_zone = "${var.aws_info.zone}"
  ami = "${lookup(var.aws_image, var.aws_info.region)}"
  instance_type = "${var.aws_instance_type.service}"
  key_name = "${var.key_name}"
  subnet_id = "${aws_subnet.subnet.id}"
  vpc_security_group_ids = ["${aws_security_group.slave_sg.id}"]
  associate_public_ip_address = true
  tags {
    Name = "${var.cluster_name}_service_${count.index}"
    short_name =  "service_${count.index}"
    id = "${count.index}"
    cluster = "${var.cluster_name}"
    Class = "${var.cluster_name}_service"
  }
  root_block_device {
    volume_type = "${var.instance_volume_type.service}"
    volume_size = "${var.instance_root_disk_size_gb.service}"
    delete_on_termination = true
  }
  ebs_block_device {
    volume_type = "${var.aws_data_volume_type}"
    volume_size = "${var.data_volume_size_gb}"
    delete_on_termination = true
    device_name = "/dev/xvdf"
  }
  count = "${var.rack_count.service}"
}

resource "aws_instance" "master" {
  availability_zone = "${var.aws_info.zone}"
  ami = "${lookup(var.aws_image, var.aws_info.region)}"
  instance_type = "${var.aws_instance_type.master}"
  key_name = "${var.key_name}"
  subnet_id = "${aws_subnet.subnet.id}"
  vpc_security_group_ids = ["${aws_security_group.master_sg.id}"]
  associate_public_ip_address = true
  tags {
    Name = "${var.cluster_name}_master_${count.index}"
    short_name =  "master_${count.index}"
    id = "${count.index}"
    zoo_id = "${count.index}"
    cluster = "${var.cluster_name}"
    Class = "${var.cluster_name}_master"
  }
  root_block_device {
    volume_type = "${var.instance_volume_type.master}"
    volume_size = "${var.instance_root_disk_size_gb.master}"
    delete_on_termination = true
  }
  count = "${var.rack_count.master}"
}

{% for s_type in slave_types %}
resource "aws_instance" "{{ s_type.name }}" {
  availability_zone = "${var.aws_info.zone}"
  ami = "${lookup(var.aws_image, var.aws_info.region)}"
  instance_type = "${var.aws_instance_type.{{ s_type.name }}}"
  key_name = "${var.key_name}"
  subnet_id = "${aws_subnet.subnet.id}"
  vpc_security_group_ids = ["${aws_security_group.slave_sg.id}"]
  associate_public_ip_address = true
  tags {
    Name = "${var.cluster_name}_{{ s_type.name }}_${count.index}"
    short_name =  "{{ s_type.name }}_${count.index}"
    id = "${count.index}"
    cluster = "${var.cluster_name}"
    rack = "{{ s_type.name }}"
    Class = "${var.cluster_name}_slave"
  }
  root_block_device {
    volume_type = "${var.instance_volume_type.{{ s_type.name }}}"
    volume_size = "${var.instance_root_disk_size_gb.{{ s_type.name }}}"
    delete_on_termination = true
  }
  count = "${var.rack_count.{{s_type.name }}}"
}

{% endfor %}

