{% if cloud_provider == 'ec2' %}
module "ec2" {
  source = "./ec2"
}
{% endif %}

{% if use_route53 is defined and use_route53 %}
module "route53" {
  source = "./route53"
  master_public_ip = "${module.ec2.master_public_ip}"
  master_public_dns = "${module.ec2.master_public_dns}"
  service_public_ip = "${module.ec2.service_public_ip}"
  service_public_dns = "${module.ec2.service_public_dns}"
{% for s_type in slave_types %}
  {{ s_type }}_public_ip = "${module.ec2.{{ s_type }}_public_ip}"
  {{ s_type }}_public_dns = "${module.ec2.{{ s_type }}_public_dns}"
{% endfor %}
}
{% endif %}