{% if service_nodes.count > 0 %}

{% if use_route53 is defined and use_route53 %}
resource "aws_route53_record" "service-ext" {
{% if service_nodes.count > 1 %}
   zone_id = "{{ route53_zone_id }}"
   name = "service_${count.index}.{{ service_discovery_dns_suffix }}"
   type = "CNAME"
   ttl = "30"
   count = "${var.type_count.service}"
   records = ["${element(aws_instance.service.*.public_dns, count.index)}"]
{% else %}
   zone_id = "{{ route53_zone_id }}"
   name = "service_0.{{ service_discovery_dns_suffix }}"
   type = "CNAME"
   ttl = "30"
   records = ["${aws_instance.service.public_dns}"]
{% endif %}
}
{% endif %}

resource "aws_route53_record" "service" {
{% if service_nodes.count > 1 %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "service_${count.index}.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "30"
   count = "${var.type_count.service}"
   records = ["${element(aws_instance.service.*.private_dns, count.index)}"]
{% else %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "service_0.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "30"
   records = ["${aws_instance.service.private_dns}"]
{% endif %}
}
{% endif %}

{% if masters.count > 0 %}

{% if use_route53 is defined and use_route53 %}
resource "aws_route53_record" "wildcard-ext" {

{% if masters.count > 1 %}
   zone_id = "{{ route53_zone_id }}"
   name = "*.{{ service_discovery_dns_suffix }}"
   type = "A"
   ttl = "30"
   records = ["${aws_instance.master.*.public_ip}"]
{% else %}
   zone_id = "{{ route53_zone_id }}"
   name = "*.{{ service_discovery_dns_suffix }}"
   type = "A"
   ttl = "30"
   records = ["${aws_instance.master.public_ip}"]
{% endif %}
}
resource "aws_route53_record" "master-ext" {

{% if masters.count > 1 %}
   zone_id = "{{ route53_zone_id }}"
   name = "master_${count.index}.{{ service_discovery_dns_suffix }}"
   type = "CNAME"
   ttl = "30"
   count = "${var.type_count.master}"
   records = ["${element(aws_instance.master.*.public_dns, count.index)}"]
{% else %}
   zone_id = "{{ route53_zone_id }}"
   name = "master_0.{{ service_discovery_dns_suffix }}"
   type = "CNAME"
   ttl = "30"
   records = ["${aws_instance.master.public_dns}"]
{% endif %}
}
{% endif %}

resource "aws_route53_record" "master" {

{% if masters.count > 1 %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "master_${count.index}.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "30"
   count = "${var.type_count.master}"
   records = ["${element(aws_instance.master.*.private_dns, count.index)}"]
{% else %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "master_0.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "30"
   records = ["${aws_instance.master.private_dns}"]
{% endif %}
}
{% endif %}

{% for s_type in slave_types %}
{% if s_type.count > 0 %}

{% if use_route53 is defined and use_route53 %}
resource "aws_route53_record" "{{ s_type.name }}-ext" {

{% if s_type.count > 1 %}
   zone_id = "{{ route53_zone_id }}"
   name = "{{ s_type.name }}_${count.index}.{{ service_discovery_dns_suffix }}"
   type = "CNAME"
   ttl = "30"
   count = "${var.type_count.{{ s_type.name }}}"
   records = ["${element(aws_instance.{{ s_type.name }}.*.public_dns, count.index)}"]
{% else %}
   zone_id = "{{ route53_zone_id }}"
   name = "{{ s_type.name }}_0.{{ service_discovery_dns_suffix }}"
   type = "CNAME"
   ttl = "30"
   records = ["${aws_instance.{{ s_type.name }}.public_dns}"]
{% endif %}
}
{% endif %}

resource "aws_route53_record" "{{ s_type }}" {

{% if s_type.count > 1 %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "{{ s_type.name }}_${count.index}.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "30"
   count = "${var.type_count.{{ s_type.name}}}"
   records = ["${element(aws_instance.{{ s_type.name }}.*.private_dns, count.index)}"]
{% else %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "{{ s_type.name }}_0.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "30"
   records = ["${aws_instance.{{ s_type.name }}.private_dns}"]
{% endif %}
}

{% endif %}
{% endfor %}
