# AWS_ACCESS_KEY or AWS_ACCESS_KEY_ID
aws_access_key: ""

# AWS_SECRET_KEY or AWS_SECRET_ACCESS_KEY
aws_secret_key: ""


# This section is only required if you want to use Route53 to manage DNS names for the cluster
# AWS default ec2 public dns names are still created
route53_access_key: ""
route53_secret_key: ""
