variable "cluster_name" {
  description = "Name of the cluster to be used for naming resources"
  default = "{{ cluster_name }}"
}

variable "aws_info" {
  description = "Amazon AWS/EC2/S3 keys and settings"
  default = {
	access_key = "{{ aws_access_key }}"
	secret_key = "{{ aws_secret_key }}"
	region = "{{ ec2_region }}"
	zone = "{{ ec2_zone }}"
  }
}

variable "aws_image" {
  description = "Amazon AMIs for each region"
  default = {
	us-east-1 = "ami-7eb2a716"
	us-west-2 = "ami-ade2da9d"
	ap-northeast-1 = "ami-aa7da3aa"
  }
}

variable "aws_instance_type" {
  description = "Amazon instance types to use for each kind of node"
  default = {
	service = "{{ service_nodes.instance_type }}"
	master = "{{ masters.instance_type }}"
{% for s_type in slave_types %}
	{{ s_type }} = "{{ slave_types[s_type].instance_type }}"
{% endfor %}
  }
}

variable "instance_volume_type" {
  description = "Type of volume for root disk on an instance"
  default = {
	service = "{{ service_nodes.root_volume_type }}"
	master = "{{ masters.root_volume_type }}"
{% for s_type in slave_types %}
	{{ s_type }} = "{{ slave_types[s_type].root_volume_type }}"
{% endfor %}
  }
}

variable "instance_root_disk_size_gb" {
  description = "Size of volume for root disk on an instance"
  default = {
	service = {{ service_nodes.root_volume_size_gb }}
	master = {{ masters.root_volume_size_gb }}
{% for s_type in slave_types %}
	{{ s_type }} = {{ slave_types[s_type].root_volume_size_gb }}
{% endfor %}
  }
}
variable "boot_key" {
  description = "Keypair to create on AWS to use for {{ cluster_name }}"
  default = {
    name = "terraform-{{ cluster_name }}"
    pub_key = "{{ ec2_public_key }} terraform-{{ cluster_name }}"
  }
}

variable "type_count" {
  description = "Amazon instances of each type ('node_type' attribute) to create"
  default = {
	service = {{ service_nodes.count }}
	master = {{ masters.count }}
{% for s_type in slave_types %}
	{{ s_type }} = {{ slave_types[s_type].count }}
{% endfor %}
  }
}
