provider "aws" {
  access_key = "${var.aws_info.access_key}"
  secret_key = "${var.aws_info.secret_key}"
  region = "${var.aws_info.region}"
}

resource "aws_key_pair" "aws_key" {
  key_name = "${var.boot_key.name}"
  public_key = "${var.boot_key.pub_key} ${var.boot_key.name}"
}

resource "aws_route53_zone" "internal" {
  comment = "Private zone for cluster {{ cluster_name }}"
  name = "{{ cluster_name }}.internal"
  vpc_id = "${aws_vpc.vpc.id}"
}