{% if service_nodes.count > 0 %}

resource "aws_route53_record" "service" {
{% if service_nodes.count > 1 %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "service_${count.index}.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "10"
   count = "${var.type_count.service}"
   records = ["${element(aws_instance.service.*.private_dns, count.index)}"]
{% else %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "service_0.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "10"
   records = ["${aws_instance.service.private_dns}"]
{% endif %}
}
{% endif %}

{% if masters.count > 0 %}

resource "aws_route53_record" "master" {

{% if masters.count > 1 %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "master_${count.index}.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "10"
   count = "${var.type_count.master}"
   records = ["${element(aws_instance.master.*.private_dns, count.index)}"]
{% else %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "master_0.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "10"
   records = ["${aws_instance.master.private_dns}"]
{% endif %}
}
{% endif %}


{% if use_route53_slave_names is defined and use_route53_slave_names %}
{% for s_type in slave_types %}
{% if slave_types[s_type].count > 0 %}

resource "aws_route53_record" "{{ s_type }}" {

{% if slave_types[s_type].count > 1 %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "{{ s_type }}_${count.index}.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "10"
   count = "${var.type_count.{{ s_type }}}"
   records = ["${element(aws_instance.{{ s_type }}.*.private_dns, count.index)}"]
{% else %}
   zone_id = "${aws_route53_zone.internal.id}"
   name = "{{ s_type }}_0.{{ cluster_name }}.internal"
   type = "CNAME"
   ttl = "10"
   records = ["${aws_instance.{{ s_type }}.private_dns}"]
{% endif %}
}

{% endif %}
{% endfor %}
{% endif %}
