output "service_public_ip" {
{% if service_nodes.count > 1 %}
    value = "${join(",", aws_instance.service.*.public_ip)}"
{% else %}
    value = "${aws_instance.service.public_ip}"
{% endif %}
}

output "service_public_dns" {
{% if service_nodes.count > 1 %}
    value = "${join(",", aws_instance.service.*.public_dns)}"
{% else %}
    value = "${aws_instance.service.public_dns}"
{% endif %}
}

output "master_public_ip" {
{% if masters.count > 1 %}
    value = "${join(",", aws_instance.master.*.public_ip)}"
{% else %}
    value = "${aws_instance.master.public_ip}"
{% endif %}
}
output "master_public_dns" {
{% if masters.count > 1 %}
    value = "${join(",", aws_instance.master.*.public_dns)}"
{% else %}
    value = "${aws_instance.master.public_dns}"
{% endif %}
}

{% for s_type in slave_types %}
output "{{ s_type }}_public_ip" {
{% if slave_types[s_type].count > 1 %}
    value = "${join(",", aws_instance.{{ s_type }}.*.public_ip)}"
{% else %}
    value = "${aws_instance.{{ s_type }}.public_ip}"
{% endif %}
}
output "{{ s_type }}_public_dns" {
{% if slave_types[s_type].count > 1 %}
    value = "${join(",", aws_instance.{{ s_type }}.*.public_dns)}"
{% else %}
    value = "${aws_instance.{{ s_type }}.public_dns}"
{% endif %}
}
{% endfor %}
