{
	"container": {
		"type": "DOCKER",
		"docker": {
			"network": "HOST",
			"image": "appsoma/kafka-mesos"
		}
	},
	"id": "kafka-framework",
	"cpus": 0.2,
	"mem": 512,
	"cmd": "./kafka-mesos.sh scheduler --master=master.mesos:5050 --zk=master.mesos:2181 --api=http://kafka-framework.marathon.mesos:7000 --storage=zk:/kafka-mesos",
	"instances": 1,
	"constraints": [["node_type", "LIKE", "master"]]
}

